    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">This is a title of the page</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="mdl-navigation__link" href="/Security/Authorization/SignOut">@Resources.Resource.SignOut</a>
                }
                else
                {
                    <a class="mdl-navigation__link" href="/Security/Registration/SignUp">@Resources.Resource.SignUp</a>
                    <a class="mdl-navigation__link" href="/Security/Authorization/SignIn">@Resources.Resource.SignIn</a>
                }
                
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>