@using ExitTask.Presentation.Helpers
@model IEnumerable<ExitTask.Presentation.Areas.Common.Models.TourViewModel>

@{
    this.ViewBag.Title = "Index";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tour-grid mdl-grid">
    @foreach (var item in this.Model)
    {
        @(this.Html.TourPreviewCard(item))
    }
</div>